<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.mariotaku.pass"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name=".permssion.APPLICATION_BRADCAST"/>

    <application
        android:name=".PassApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pass">
        <activity
            android:name=".activity.PassGenDialogActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Pass.Dialog.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.PassGenDialogActivity"
            android:theme="@style/Theme.Pass"
            android:windowSoftInputMode="adjustResize"/>

        <service
            android:name=".service.ClipboardRestoreService"
            android:exported="false">
        </service>
        <service
            android:name=".service.PasswordHelperService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service"/>
        </service>

        <provider
            android:name=".provider.PassProvider"
            android:authorities="org.mariotaku.pass"
            android:exported="false"/>
    </application>

</manifest>
